<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Histórico de Partidas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <div class="historico-container">
        <h2>Histórico de Partidas</h2>
        <table>
            <thead>
                <tr>
                    <th>Time da Casa</th>
                    <th>Placar</th>
                    <th>Time Adversário</th>
                </tr>
            </thead>
            <tbody>
                {% for partida in partidas %}
                <tr>
                    <td>{{ partida[1] }}</td>
                    <td>{{ partida[2] }} x {{ partida[3] }}</td>
                    <td>{{ partida[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="accessibility-toggle">
            <input type="checkbox" id="fontToggle" class="toggle-input">
            <label for="fontToggle" class="toggle-label">
                <span class="toggle-box">
                    <svg class="check-icon" viewBox="0 0 24 24">
                        <path d="M20.285 6.709a1 1 0 0 0-1.414-1.418l-9.17 9.17-4.242-4.243a1 1 0 0 0-1.415 1.415l5 5a1 1 0 0 0 1.415 0l9.826-9.824z"/>
                    </svg>
                </span>
                <span class="toggle-text">Aumentar fonte</span>
            </label>
        </div>
        
        <script src="{{ url_for('static', filename='js/accessibility.js') }}"></script>
</body>
</html>
