<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MRG - Súmula Digital</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    
    <!-- Conteúdo -->


    <div class="container">
        <div class="big-logo">
            <img src="{{ url_for('static', filename='images/MRG_Logo.png') }}" alt="Logo MRG" >
        </div>
        <h1>Match Report Go</h1>
        <div class="button-grid">
            <a href="/plantel">Plantel de Jogadores</a>
            <a href="/estatistica">Estatística</a>
            <a href="/sumula">Iniciar Partida</a>
            <a href="/historico">Histórico de Partidas</a>
        </div>
        <div class="accessibility-toggle">
            <input type="checkbox" id="fontToggle" class="toggle-input">
            <label for="fontToggle" class="toggle-label">
                <span class="toggle-box">
                    <svg class="check-icon" viewBox="0 0 24 24">
                        <path d="M20.285 6.709a1 1 0 0 0-1.414-1.418l-9.17 9.17-4.242-4.243a1 1 0 0 0-1.415 1.415l5 5a1 1 0 0 0 1.415 0l9.826-9.824z"/>
                    </svg>
                </span>
                <span class="toggle-text">Aumentar fonte</span>
            </label>
        </div>
        
        <script src="{{ url_for('static', filename='js/accessibility.js') }}"></script>
</body>
</html>
