<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Plantel de Jogadores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plantel.css') }}">
</head>
<body>

    <!-- Logo -->
    <div class="logo">
        <a href="{{ url_for('dashboard') }}">
            <img src="{{ url_for('static', filename='images/MRG_Logo.png') }}" alt="Logo MRG">
        </a>
    </div>

    <div class="container">
        <h2>Plantel de Jogadores</h2>

        <ul class="player-list">
            {% for jogador in jogadores %}
                <li>
                    {{ jogador.nome_completo }}
                    {% if jogador.apelido %}({{ jogador.apelido }}){% endif %}
                    - {{ jogador.numero if jogador.numero else 'S/N' }}
                    - {{ jogador.posicao }}
                    <a href="{{ url_for('delete_jogador', index=jogador.id) }}" class="delete-btn">
                        <button>&times;</button>
                    </a>
                </li>    
            {% else %}
                <li>Nenhum jogador cadastrado</li>
                    
            {% endfor %}
        </ul>

        <div class="button-container">
            <a href="{{ url_for('add_jogador') }}" class="btn-primary">
                Adicionar Jogador
            </a>
            <a href="{{ url_for('dashboard') }}" class="btn-secondary">Voltar</a>
        </div>
    </div>
</body>
</html>
